<!-- app/templates/auth/register.html -->

{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}All Listings{% endblock %}
{% block body %}


<div class="content-section">
  <div class="center">
		<h1 style="text-align: center">All Listings</h1>
		<hr class="intro-divider">
    <ul class = output1>
	<p> Enter exactly one combination of the following: Primary Character, Primary Villain, Primary Character and Primary Villain, Series, or Series and Issue Number </p>
	{{ wtf.quick_form(form) }}
	</ul>
  </div>
</div>

	<div class="center">
		<div class="panel panel-default" style="width: 100%;">
			{% for item in output1 %}

				<div class="panel-body">
					
					<p style="text-align: left;"><font size = "5">{{item.series}}</font> No. #{{item.issueNum}}
					<span style="float: right;"><font size= "5">Price: ${{item.price}}</font> </span></p>
					<i>By {{item.name}} </i>
					
				</div>
				<div class="panel-footer">
					<form action = "{{url_for('listings.openListings', sellID = item.sellID)}}" method =post> <input type = submit name = "View Comic" value = "View Comic"> </input></form>
				</div>

			{% endfor %}

			</div>
	</div>
	<form method = "POST" action = "{{url_for('listings.allListings')}}"> 

		


{% endblock %}