<!-- app/templates/auth/register.html -->

{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}All Listings{% endblock %}
{% block body %}
<div class="content-section">
  <div class="center">
    <h1>All Listings</h1>
    <br/>
    <ul class = output1>
	{% for item in output1 %}
	
	<li><h1>{{item.series}}, {{item.issueNum}}, {{item.price}}, {{item.cgc}}</h1>
	<form action = "{{url_for('listings.openListings', sellID = item.sellID)}}" method =post> <input type = submit name = "Open" value = "Open"> </input></form>
	{% endfor %}
	
	{% for item in chars %}
	<li> <h1> {{item.primaryCharacter}} </h1>
	{% endfor %}
	
	{% for item in auths %}
	<li> <h1> {{item.name}} </h1>
	{% endfor %}
	
	{% for item in vills %}
	<li> <h1> {{item.primaryVillain}} </h1>
	{% endfor %}
	
	
	</ul>
  </div>
</div>

{% endblock %}