<!-- app/templates/auth/register.html -->

{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}Open Listings{% endblock %}
{% block body %}
<div class="content-section">
  <div class="center">
    
	<!-- {% for item in output1 %}
	<li>Book: {{item.series}} #{{item.issueNum}}
	<li>Price: {{item.price}}
	<li>CGC: {{item.cgc}}
	<form action = "{{url_for('listings.buyListings', sellID = item.sellID)}}" method =post> <input type = submit name = "Buy" value = "Buy"> </input></form>
	{% endfor %} -->
	
	
	
	
		<!-- <li> Average Price on Ebay: {{output2}} -->
	
	<div class="jumbotron">
		<div class="left">
			<ul class = output1>
			<ul class = output2> 
			{% for item in output1 %}
			<h1 style="text-align: center">{{item.series}}</h1>
			<hr class="intro-divider" style="text-align: center">
			<p>Issue Number #{{item.issueNum}} <br> Price: ${{item.price}} <br> CGC:{{item.cgc}} <br> <br>
			Average Price on eBay: {{output2}} </p>
			
			<!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p> -->
			<form action = "{{url_for('listings.buyListings', sellID = item.sellID)}}" method =post> <input type = submit name = "Buy" value = "Buy"> </input></form>
			{% endfor %}
		</ul>
		</ul>
		</div>
		</div>
  </div>
</div>

{% endblock %}