<!-- app/templates/auth/register.html -->

{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}All Listings{% endblock %}
{% block body %}
<div class="content-section">
  <div class="center">
    <h1>Your Listings</h1>
    <br/>
    <ul class = output1>
	{% for item in output1 %}
	
	<li><h1>{{item.series}}, {{item.issueNum}}, {{item.price}}, {{item.cgc}} </h1>
	<form action = "{{url_for('listings.deleteListings', id = item.sellID)}}" method =post> <input type = submit name = "Delete" value = "Delete"> </input></form>
	<form action = "{{url_for('listings.editListings', sellID = item.sellID)}}" method =post> <input type = submit name = "Edit" value = "Edit"> </input></form>
	
	<!-- <li> <h1> {{item.series}}</h1> -->
	{% endfor %}
	</ul>
  </div>
</div>

{% endblock %}